// To base your scheme on the default "light" theme, you don't need an @import.
// If you want to base it on the "dark" theme, uncomment the line below:
// @import "./color_schemes/dark";

// Change the main font color for the body text
$body-text-color: #042A2B;

// Change the color of links
$link-color: #5EB1BF;

// Change heading colors
$heading-color: #EF7B45;
